@charset "utf-8";
section{
    height: 100vh;
    width: 100vw;
}

header{
    top: 0px;
    height: 250px;
    width: 100%;
    background-image: url("../img/head2.png");
    background-size: cover;
    /* 图片大小为完全覆盖 */
    background-repeat: no-repeat;
    background-position-y: -30px;
    /* 初始状态时背景图片在垂直方向上的位置，偏移30px */
    overflow: hidden;
    border-bottom: 5px solid rgb(58, 83, 85);
    animation: headload 0.9s linear;
    /* 顶部图片加载动画，持续0.9s，效果为线性 */
}
header h1{
    color: rgb(92, 136, 177);
    font-size: 5em;
    text-align: center;
    line-height: 200px;
}

section .about-part{
    width: 650px;
    margin-left: 1.5%;
    float: left;
}

section .about{
    width: 650px;
    height: 205px;
    box-shadow: 0 0 15px rgb(83, 103, 110);
    background: rgb(177, 212, 233,0.8);
    border-radius: 15px;
    /* 设置为圆角矩形 */
    display: flex;
    /* 弹性方式摆放 */
    overflow: hidden;
    /* 元素溢出部分隐藏 */
    margin-top: 40px;
    float: left;
}

.about p{
    word-wrap: break-word;
    color: rgb(84, 109, 158);
    line-height: 20px;
}

.about article{
    width: 400px;
    margin: 0 50px 0 50px;
    line-height: 1.2;
}
.about h2{
    text-align: center;
    color: rgb(51, 86, 114);
}

.about img{
    width: 240px;
    height: 100%;
    background-size: cover;
    transition: all 0.5s ease 0s;
    /* ease：平滑过渡，设置动画效果持续0.5秒，无延迟 */
}
.about img:hover{
    transform: scale(1.1);
    /* 鼠标激活时放大到原来的1.1倍 */
}

@keyframes headload{
    /* 动画开始时， 正文头部背景图片高度为0，即不显示*/
    0%{
        height: 0px;
    }
    /* 动画结束时，背景图片高度为240px */
    100%{
        height: 240px;
    }
}